.gallery__img {
    object-fit: cover;
    width: 100%;

}

.galleries__inner {
    position: relative;
}

.galleries__box {
    position: absolute;
    top: 60px;
    left:0;
    width:100%;
    z-index: 100;
}

.galleries__title {
    color: #FFF;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
    text-transform: uppercase;
}


.galleries__slides {
    position: relative;
    height: 717px;
    width: 100%;
}
.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
.gallery__title {
    position: absolute;
    bottom: 60px;
    width: 443px;
    color: #FFF;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.9px;
}
.gallery__slide_active {
    opacity: 1;
}




.galleries__controls_box{
    position: absolute;
     bottom: 162px;
     width:100%;
}
.gallery__controls {
    display: flex;
    justify-content: flex-start;
}
